<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title ? current_page.data.title + " - StaticGen" : "StaticGen - Open Source Static Site Generators" %></title>

    <meta name="description" content="StaticGen is a leaderboard of the top open-source static site generators. Promoting a static approach to building websites." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="StaticGen is a leaderboard of the top open-source static site generators. Promoting a static approach to websites.">

    <!-- Open Graph data -->
    <meta property="og:title" content="StaticGen" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.staticgen.com/" />
    <meta property="og:image" content="https://www.staticgen.com/images/staticgen.png" />
    <meta property="og:description" content="StaticGen is a leaderboard of the top open-source static site generators. Promoting a static approach to building websites." />

    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Roboto + Roboto Slab -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>

    <!-- StaticGen styles -->
    <%= stylesheet_link_tag "normalize", "syntax", "all" %>
  </head>

  <body>
    <div class="hero">
      <h1>
        <a href="/" class="logo">StaticGen</a>
        <em>Top Open-Source Static Site Generators</em>
        <strong>Need a CMS to go with a generator below? Check out the brand new <a href="https://www.headlesscms.org" target="_blank">headlessCMS.org</a> for your top options.</strong>
      </h1>

      <div id="share-button-top" class='share-button share-button-top'></div>

      <a href="https://github.com/netlify/staticgen"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-container">
        <h3>StaticGen is hosted and maintained by <a href="https://www.netlify.com">Netlify</a>, the perfect way to deploy your static sites and apps.</h3>
      </div>
      <div class="postscript">
        StaticGen was last deployed by <a href="https://www.netlify.com">netlify.com</a> on <strong><%= Time.now.utc.strftime("%B %-d, %Y") %></strong> at <strong><%= Time.now.utc.strftime("%k:%M") %> UTC</strong>.<br/>
        &copy; Netlify <%= Time.now.year %>
      </div>
    </div>

    <%= javascript_include_tag "all" %>

    <!-- Page specific scripts -->
    <%= yield_content :scripts %>
  </body>
</html>
