<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title ? current_page.data.title + " - JSpreadsheets" : "JSpreadsheets - Top Open-Source Spreadsheets and Data Grids written in JavaScript" %></title>

    <meta name="description" content="JSpreadsheets compiles top open-source spreadsheets and data grids written in JavaScript. It helps you choose the most suitable component for your project." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="JSpreadsheets compiles top open-source spreadsheets and data grids written in JavaScript.">

    <!-- Open Graph data -->
    <meta property="og:title" content="JSpreadsheets" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.jspreadsheets.com/" />
    <meta property="og:image" content="https://www.jspreadsheets.com/images/jspreadsheets-logo.png" />
    <meta property="og:description" content="JSpreadsheets compiles top open-source spreadsheets and data grids written in JavaScript. It helps you choose the most suitable component for your project." />

    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- StaticGen styles -->
    <%= stylesheet_link_tag "normalize", "syntax", "all" %>
  </head>

  <body>

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MM9XG2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MM9XG2');</script>
  <!-- End Google Tag Manager -->

    <div class="hero">
      <div class="logo-group">
        <a href="/" class="logo">JSpreadsheets</a>
        <a href="http://handsoncode.net" target="_blank" class="author-top">
            <img src="/images/handsoncode-logo-top.png" alt="Brought to you by Handsoncode" />
        </a>
      </div>
      <h1>Open-Source Spreadsheets and Data Grids</h1>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-container">
        <h3>This site is brought to you by Handsoncode. <a href="http://handsoncode.net" target="_blank">We are available to hire</a></h3>
      </div>
      <div class="postscript">
        <p>This project is based on a great piece of code written by
        <a href="http://netlify.com" target="_blank">Netlify</a> and
        <a href="https://github.com/netlify/staticgen" target="_blank">released on GitHub</p>
      </div>
    </div>

    <%= javascript_include_tag "all" %>

    <!-- Page specific scripts -->
    <%= yield_content :scripts %>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-555261a702d1c974" async="async"></script>

  </body>
</html>
