<% wrap_layout :layout do %>
  <%= partial "includes/navbar" %>

  <div class="main subpage">

    <div class="sheet">

      <div class="left-side">

        <h2><%= current_page.title %></h2>
        <div class="links">
          <a href="<%= current_page.homepage %>" target="_blank" class="ellipsis"><i class="fa fa-home"></i> <%= current_page.homepage %></a>
          <a href="https://github.com/<%= current_page.repo %>" target="_blank" class="ellipsis"><i class="fa fa-github"></i> https://github.com/<%= current_page.repo %></a>
        </div>

        <%= yield %>

      </div>

      <div class="right-side">

        <div class="github-stats box">
        <h4>STATS ON GITHUB</h4>
            <ul class="stats">
              <li title="Stars">
                <i class="fa fa-star"></i>
                <span class="stat"><%= current_page.stars %></span>
              </li>
              <li title="Forks">
                <i class="fa fa-code-fork"></i>
                <span class="stat"><%= current_page.forks %></span>
              </li>
              <li title="Open Issues">
                <i class="fa fa-bug"></i>
                <span class="stat"><%= current_page.issues %></span>
              </li>
            </ul>
        </div>
        <div class="installation box clearfix">
          <ul>
            <li>License: <%= current_page.license %></li>
            <li>Author: <%= current_page.author %></li>
            <li>Last update: <%= current_page.last_commit ? current_page.last_commit.to_time.strftime('%b %e, %G') : 'N/A' %></li>
          </ul>
          <ul>
            <li>Angular: <% if current_page.angular == true %>Supported<% else %>Not supported<% end %></li>
            <li>React: <% if current_page.react == true %>Supported<% else %>Not supported<% end %></li>
            <li>Vue: <% if current_page.vue == true %>Supported<% else %>Not supported<% end %></li>
            <li>Web Components: <% if current_page.webcomponents == true %>Supported<% else %>Not supported<% end %></li>
          </ul>
          <div class="buttons">
              <a href="https://github.com/<%= current_page.repo %>" target="_blank" class="btn purple">Explore on GitHub</a>
              <a href="<%= current_page.examples %>" target="_blank" class="btn lightpurple">Live examples</a>
          </div>
        </div>
        <div class="charts box">
            <h4>TRENDS</h4>
            <div class="graphs">
                <div id="stars-chart" class="chart"></div>
                <div id="forks-chart" class="chart"></div>
                <div id="issues-chart" class="chart"></div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <% content_for :scripts do %>
  <script>
    $(function() {
      <% ['stars', 'forks', 'issues'].each do |type| %>
      var chart_<%= type %> = {
        label: "<%= type.capitalize %>",
        data: <%= JSON.generate(current_page.week_history.map {|day| [day.timestamp * 1000, day.send(type)] }) %>
      };
      var options_<%= type %> = {
        yaxis: {
          tickDecimals: 0
        },
        xaxis: {
          transform: function (v) { return v; },
          mode: "time",
          tickColor: "#fff"
        }
      };
      $.plot("#<%= type %>-chart", [chart_<%= type %>] , options_<%= type %>);
      <% end %>
    });

  </script>
  <% end %>
<% end %>
