<% wrap_layout :layout do %>
  <%= partial "includes/navbar" %>

  <div class="main">
    <div class="sheet">
      <h1><%= current_page.title %></h1>
      <div class="links">
        <a href="<%= current_page.homepage %>"><i class="fa fa-home"></i> <%= current_page.homepage %></a>
        <span class="separator">|</span>
        <a href="https://github.com/<%= current_page.repo %>"><i class="fa fa-github"></i> https://github.com/<%= current_page.repo %></a>
        <% if current_page.startertemplaterepo %>
          <a class="deploy-btn-interior pull-right" href="https://app.netlify.com/start/deploy?repository=https://github.com/<%= current_page.startertemplaterepo %>" alt="Deploy to Netlify" title="Deploy to Netlify">
            <img src="https://www.netlify.com/img/deploy/button.svg" title="Deploy to Netlify">
          </a>
        <% end %>
      </div>


      <div class="text">

        <%= yield %>

        <% if current_page.startertemplaterepo %>
          <div class="deploy-to-netlify">
            <hr>
            <h3>Get started with 1 click</h3>
            <p>Introducing the "Deploy to Netlify" button on select generators to help you deploy new sites from generator-specific templates with a single click. Get a site up in minutes, with custom domain, HTTPS and continuous delivery completely free of charge.<br><br>
            Want your own Deploy to Netlify button? <a href="https://www.netlify.com/docs/deploy_button/">Learn more here</a></p>
              <em>Click below to give it a try with <%= current_page.title %>'s template.</em>
              <a class="deploy-btn-interior inline" href="https://app.netlify.com/start/deploy?repository=https://github.com/<%= current_page.startertemplaterepo %>" alt="Deploy to Netlify" title="Deploy to Netlify">
                <img src="https://www.netlify.com/img/deploy/button.svg" title="Deploy to Netlify">
              </a>
            </p>
          </div>
        <% end %>

      </div>
      <div class="charts">
        <div id="stars-chart" class="chart"></div>
        <div id="forks-chart" class="chart"></div>
        <div id="issues-chart" class="chart"></div>
      </div>
    </div>
  </div>

  <% content_for :scripts do %>
  <script>
    $(function() {
      <% ['stars', 'forks', 'issues'].each do |type| %>
      var chart_<%= type %> = {
        label: "<%= type.capitalize %>",
        data: <%= JSON.generate(current_page.week_history.map {|day| [day.timestamp * 1000, day.send(type)] }) %>
      };
      var options_<%= type %> = {
        yaxis: {
          tickDecimals: 0
        },
        xaxis: {
          transform: function (v) { return v; },
          mode: "time"
        }
      };
      $.plot("#<%= type %>-chart", [chart_<%= type %>] , options_<%= type %>);
      <% end %>
    });

  </script>
  <% end %>
<% end %>
