<% wrap_layout :layout do %>
  <%= partial "includes/navbar" %>

  <div class="main">
    <div class="sheet">
      <h1><%= current_page.title %></h1>
      <div class="links">
        <a href="<%= current_page.homepage %>"><i class="fa fa-home"></i> <%= current_page.homepage %></a>
        <span class="separator">|</span>
        <a href="https://github.com/<%= current_page.repo %>"><i class="fa fa-github"></i> https://github.com/<%= current_page.repo %></a>
      </div>


      <div class="text">

        <%= yield %>
      </div>
      <div class="charts">
        <div id="stars-chart" class="chart"></div>
      </div>
    </div>
  </div>

  <% content_for :scripts do %>
  <script>
    $(function() {
      var chart = {
        label: "Stars",
        data: <%= JSON.generate(current_page.week_history.map {|day| [day.timestamp * 1000, day.stars] }) %>
      };
      var options = {
        yaxis: {
          tickDecimals: 0
        },
        xaxis: {
          transform: function (v) { return v; },
          mode: "time"
        }
      };

      $.plot("#stars-chart", [chart] , options);
    });

  </script>
  <% end %>
<% end %>
