---
title: Top Open-Source Static Site Generators
---
<%= partial "includes/navbar", :locals => {:controls => true} %>
<div class="main landing">
  <ul class="projects">
    <% projects.each_with_index do |project, index| %>
      <li class="project lang-<%= project.language.downcase.gsub(/\s/, '-').gsub('.', '') %>"
          data-stars="<%= project.stars %>"
          data-forks="<%= project.forks %>"
          data-issues="<%= project.issues %>"
          data-title="<%= project.title %>"
          data-language="<%= project.language.downcase.gsub(/\s/, '-') %>">
        <div class="card">
          <h4 class="title"><a href="<%= project.url %>"><%= project.title %></a></h4>
          <h6 class="url"><a href="<%= project.homepage %>"><%= project.homepage.sub(/^https?:\/\//, '') %></a></small></h6>
          <ul class="stats">
            <li title="Stars">
              <i class="fa fa-star"></i>
              <span class="stat"><%= project.stars %></span>
              <span class="trend <%= project.stars_trend %>" title="Difference since last week">
                <%= project.stars_diff %>
                <%= caret_icon(project.stars_diff) %>
              </span>
            </li>
            <li title="Forks">
              <i class="fa fa-code-fork"></i>
              <span class="stat"><%= project.forks %></span>
              <span class="trend <%= project.forks_trend %>" title="Difference since last week">
                <%= project.forks_diff %>
                <%= caret_icon(project.forks_diff) %>
              </span>
            </li>
            <li title="Open Issues">
              <i class="fa fa-bug"></i>
              <span class="stat"><%= project.issues %></span>
              <span class="trend" title="Difference since last week">
                <%= project.issues_diff %>
                <%= caret_icon(project.issues_diff) %>
              </span>
            </li>
          </ul>
          <div class="description"><%= project.description %></div>
          <dl>
            <dt>Language:</dt>
            <dd><%= project.language %></dd>

            <dt>Templates:</dt>
            <dd><%= project.templates %></dd>

            <dt>License:</dt>
            <dd><%= project.license %></dd>
          </dl>
          <% if project.startertemplaterepo %>
            <div class="deploy">
              <a class="deploy-btn" href="https://app.netlify.com/start/deploy?repository=https://github.com/<%= project.startertemplaterepo %>" alt="Deploy to Netlify" title="Deploy to Netlify">
                <img src="/images/deploy-btn-wire-large.svg" title="Deploy to Netlify">
              </a>
            </div>
          <% end %>
        </div>
        <% if index == 2 %>
          <li id="deploy-to-netlify" class="project deploy-to-netlify">
            <h3>Get started with 1 click</h3>
            <p>Introducing the "Deploy to Netlify" button on select generators to help you deploy new sites from generator-specific templates with a single click. Get a site up in minutes, with custom domain, HTTPS and continuous delivery completely free of charge.<br><br>
            Want your own Deploy to Netlify button? <a href="https://www.netlify.com/docs/deploy_button/">Learn more here</a></p>
          </li>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
