---
title: jspreadsheets
---
<%= partial "includes/navbar", :locals => {:controls => true} %>
<div class="main">
  <ul class="projects">
    <% projects.each do |project| %>
      <li class="project"
          data-stars="<%= project.stars %>"
          data-forks="<%= project.forks %>"
          data-issues="<%= project.issues %>"
          data-title="<%= project.title %>"
          >
        <a href="<%= project.url %>" class="card">
          <h2 class="title"><%= project.title %></h2>
          <ul class="stats">
            <li title="Stars">
              <i class="fa fa-star"></i>
              <span class="stat"><%= project.stars %></span>
            </li>
            <li title="Forks">
              <i class="fa fa-code-fork"></i>
              <span class="stat"><%= project.forks %></span>
            </li>
            <li title="Open Issues">
              <i class="fa fa-github"></i>
              <span class="stat"><%= project.issues %></span>
            </li>
          </ul>
          <span class="description">
          <%= project.description.length > 120 ? project.description[0..120] << '...' : project.description %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
